<h1><%=current_user.username%>'s Library</h1>
<% current_user.books.each do |book| %>
  <p><a href="/books/<%=book.id%>"><%= book.title %></a><p><br>
<% end %>
<form action="/logout" method="get">
<button>Log Out</button>
</form>