<h1>Add a new book to your library</h1>
<form action="/books" method="POST">
  <p>Title</p>
  <input type="text" name="title"><br>
  <p>Author</p>
  <p>Select an existing author: </p>
  <select name="author_id">
    <% @authors.each do |author| %>
      <option value=<%=author.id %>><%= author.display_name %></option>
    <% end %>
  </select>
  <p>Or create a new one: </p>
  <p>Author First Name: <input type="text" name="author[first_name]">
  <p>Author Last Name: <input type="text" name="author[last_name]"></p>
  <input type="submit" value="Add Book">
</form>