<h1 style="color:blue">Welcome to the Sinatra Home Library!</h1>
<p style="color:red">Sinatra home library allows you to keep track of all the books you own.</p><br>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username" required="required"></p>
  <p>Password: <input type="password" name="password" required="required"></p>
  <p><input type="submit" value="Log In"></p>

</form>


<p>If you don't already have an account <a href="/signup">Sign Up Here</a></p>

