<h1>Welcome to the Sinatra Home Library!</h1>
<p>Add description here...</p><br>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username" required="required"></p>
  <p>Password: <input type="text" name="password" required="required"></p>
  <p><input type="submit" value="Log In"></p>

</form>


<p>If you don't already have an account <a href="/signup">Sign Up Here</a></p>

